nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  /* padding: 2rem 1rem; */
  /* padding-left: 8rem;
  padding-right: 8rem; */
}

h3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
}
.dark-mode {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-family: Nunito Sans;
}
div {
  font-weight: 600;
  font-family: Nunito Sans;
  font-size: 1rem;
  font-style: normal;
}
/* Styling based on the context of the host component for light mode */
:host-context(.light) nav {
  background-color: var(--l-element);
}
/* Styling based on the context of the host component for dark mode */
:host-context(.dark) nav {
  background-color: var(--d-element);
}
:host-context(.light) .fa {
  color: var(--d-element);
}
/* Styling based on the context of the host component for dark mode */
:host-context(.dark) .fa {
  color: var(--l-element);
}
.fixed-top {
  /* position: sticky;
  top: 0; */
  z-index: 100;
  /* padding: -1px 8rem; */
}

@media (min-width: 376px) {
  nav {
    padding: 1.75rem 8rem;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 1.75rem 3rem;
  }
  h3 {
    font-size: 14px;
  }
  .dark-mode {
    font-size: 12px;
  }
}
/* margin: 3rem 0rem; */
