h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
}
.card {
  cursor: pointer;
}

.country-card {
  margin: 4rem 4rem;
  margin-top: 0;
  height: fit-content;
  border-radius: 0.5rem;
  overflow: hidden;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 7rem;
}
/* p {
  padding: 0.3rem 0;
} */

:host-context(.light) .country-card {
  background-color: var(--l-element);
}
:host-context(.dark) .country-card {
  background-color: var(--d-element);
}
.card-image {
  position: relative;
  height: 200px;
  text-align: center;
}
.card-img-top {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* object-position: center;
  object-fit: cover;
  vertical-align: middle; */
}
.card-body {
  margin: 0;
  padding: 0;
}
.card-content {
  padding: 24px;
  height: 155px;
}
.card-text {
  margin: 0;
}
